#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi Credentials
#define DEFAULT_WIFI_SSID "YOUR_WIFI_SSID"
#define DEFAULT_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// MQTT Broker Credentials
#define DEFAULT_MQTT_BROKER "YOUR_MQTT_BROKER"
#define DEFAULT_MQTT_PORT 1883
#define DEFAULT_MQTT_USER "YOUR_MQTT_USERNAME"
#define DEFAULT_MQTT_PASSWORD "YOUR_MQTT_PASSWORD"

#endif // CREDENTIALS_H
